<!doctype html>
<html lang="en">
  {{> _head}}
  <body>
    {{> _header}}
    <main>
      <article id="page-{{id}}">
        <h1>{{title}}</h1>
        {{{contents}}}
      </article>
    </main>
    {{> _footer}}
  </body>
</html>
